<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict/>
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>UIAppFonts</key>
			<array>
				<string>PlusJakartaSans.ttf</string>
				<string>PlusJakartaSans-SemiBold.ttf</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Medium.tff</string>
		<string>PlusJakartaSans-Bold.tff</string>
	</array>
</dict>
</plist>
